/*
!/.gitignore

!/19_data_visualization/homework/19_4_Практическая_работа_.ipynb
!/19_data_visualization/homework/data/vehicles_dataset_upd.csv
!/19_data_visualization/homework/data/vehicles_dataset_upd2.csv

